@model UserValidateUserModel
@{
    ViewData["Title"] = "激活邮箱";
}

<section id="content-wrap" class="site-page">
    <div class="row">
        <div class="col-twelve">
            <h3>@Model.Msg</h3>
            <a asp-action="Index" asp-controller="Home">返回首页</a>
        </div>
    </div>
</section>