@{
    ViewData["Title"] = "关于";
}

<section id="content-wrap" class="site-page">
    <div class="row">
        <div class="col-twelve">

            <section>

                <div class="content-media">
                    <img src="~/images/thumbs/about.jpg">
                </div>

                <div class="primary-content">

                    <h1 class="entry-title add-bottom">关于我</h1>

                    <p class="lead">Q&nbsp;&nbsp;Q ：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=154878690&amp;site=qq&amp;menu=yes" target="_blank"> 154878690</a></p>
                    <p class="lead">
                        邮&nbsp;箱 ：<a href="mailto:qctvip@vip.163.com" target="_blank">qctvip@vip.163.com</a>
                    </p>
                    <p class="lead">Gitee ：<a href="https://gitee.com/qiect" target="_blank">https://gitee.com/qiect</a></p>


                    <h1 class="entry-title add-bottom">关于本站</h1>

                    <p>
                        <ul>
                            <li>开发本站的初心是想让宝宝在胎教的时候就可以受到文化的熏陶，给宝宝创造一个健康良好的环境</li>
                            <li>网页在设计上尽可能的简单，动作上尽可能的优美</li>
                            <li>本站考虑成本问题，手机短信用发送邮件的形式代替</li>
                            <li>绑定邮箱后，邮箱仅作为消息通知使用，绝对保护个人隐私</li>
                            <li>由于服务器配置较低，带宽比较小，部分音频的时长比较长，所以加载歌曲比较慢， 请大家耐心等待</li>
                            <li>大家有宝贵的建议，可以再留言区留言，比较好的建议会被采纳哦</li>
                            <li>支持自定义设置消息通知时间，本站根据自定义设置的时间提醒大家来听歌（本功能主要针对需要胎教的宝宝或者婴儿）</li>
                        </ul>
                    </p>

                    <h1 class="entry-title add-bottom">关于免责</h1>
                    <p>
                        <ol>
                            <li>本站所有的音频均来自于互联网，若有侵权请联系我</li>
                            <li>本站注册用户邮箱仅作消息通知使用，不对外使用</li>
                            <li>本网站属于个人非赢利性质的网站，不会向大家索取任何费用</li>
                            <li>微语中文章的内容及观点仅代表个人，若有冒犯请自行忽略</li>
                            <li>本网站将尽力确保所提供信息的准确性及可靠性，但不保证信息的正确性和完整性，且不对因信息的不正确或遗漏导致的任何损失或损害承担相关责任。</li>
                            <li>本网站所有歌曲，其版权均归原作者所有。如其他自媒体、网站或个人从本网站下载使用，请务必尊重原作的著作权，并自负版权等法律责任。</li>
                        </ol>
                    </p>
                </div>

            </section>

        </div> <!-- end col-twelve -->
    </div> <!-- end row -->

</section>