
@{
    ViewData["Title"] = "提示";
}

<section id="content-wrap" class="site-page">
    <div class="row">
        <div class="col-twelve">
            <h3>@ViewBag.Content</h3>
        </div>
    </div>
</section>
