@model PermissionAddModel
@{
    ViewData["Title"] = "添加角色";
}
@section toolbar{
    <h3>添加权限</h3>
}
<form id="form1" class="layui-form" asp-action="Add" asp-controller="Permission" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">权限</label>
        <div class="layui-input-block">
            <input type="text" asp-for="Name" lay-verify="required" autocomplete="off" placeholder="请输入角色" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea asp-for="Description" lay-verify="required" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-filter="*" alert lay-submit>保存</button>
        </div>
    </div>
</form>
