<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title-Todo369</title>
    <link href="/res/layui/css/layui.css" rel="stylesheet" />
    @RenderSection("style", false)
</head>
<body>

    @RenderBody()

    <script src="/res/layui/layui.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>