@model ErrorViewModel
@{
    Layout = null;
}
<html>
<head>
    <title>Todo369-错误</title>
    <link href="~/lib/beijing/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="parallax">
        <div class="layer" data-depth="0.6">
            <div class="some-space">
                <h1>不好意思，出错了呢</h1>
            </div>
        </div>
        <div class="layer" data-depth="0.4">
            <div id="particles-js"></div>
        </div>
    </div>
    <div style="text-align:center;font:normal 14px/24px 'MicroSoft YaHei';">
        <a href="/">返回主页</a>
    </div>
    <script src="~/lib/beijing/js/jquery.min.js"></script>
    <script src="~/lib/beijing/js/particles.min.js"></script>
    <script src="~/lib/beijing/js/script.js"></script>
</body>
</html>