

@section toolbar{
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="poster" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input type="text" name="content" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-forum-list" lay-submit="" lay-filter="LAY-app-forumlist-search">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
        </div>
    </div>
}
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加后台用户</button>
    </div>
</script>
<table class="layui-hide" id="myTable" lay-filter="myTable" lay-even=""></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="check">审核</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
@section scripts{

    <script>
        layui.use(['table','layer'], function () {
            var table = layui.table
                , layer = layui.layer;
            //第一个实例
            table.render({
                elem: '#myTable'
                , url: '@Url.Content("~/AdminUser/List")' //数据接口
                , method: 'post'
                , page: true //开启分页
                , limit: 10
                , cellMinWidth: 150
                , toolbar: '#toolbarDemo'
                , title: '数据列表'
                , cols: [[ //表头
                      { field: 'id', title: 'ID', sort: true }
                    , { field: 'name', title: '用户名', sort: true }
                    , { field: 'phoneNum', title: '手机号', sort: true }
                    , { field: 'email', title: '邮箱', sort: true }
                    , { field: 'loginErrorTimes', title: '错误次数', sort: true }
                    , { field: 'lastLoginErrorDateTime', title: '最后一次错误时间', sort: true}
                ]]
            });
            //头工具栏事件
            table.on('toolbar(myTable)', function (obj) {
                console.log(obj);
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'add':
                        location.href = '@Url.Content("~/AdminUser/Add")';
                        break;
                };
            });
            //监听行工具事件
            table.on('tool(myTable)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        fly.json('/Admin/Home/RequestArticles', { 'action': 'delete', 'data': JSON.stringify(data) }, function (res) {
                            layer.msg(res.msg);
                        });
                        obj.del();
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    layer.prompt({
                        formType: 2
                        , value: data.email
                    }, function (value, index) {
                        obj.update({
                            email: value
                        });
                        layer.close(index);
                    });
                } else if (obj.event === "check") {
                    layer.confirm('审核通过？', function (index) {
                        fly.json('/Admin/Home/RequestArticles', { 'action': 'check', 'data': JSON.stringify(data) }, function (res) {
                            layer.msg(res.msg);
                        })
                    });
                }
            });

        });
    </script>

    <script>

        /*资讯-查看*/
        function article_look(title, url, id, w, h) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url + '/' + id
            });
            layer.full(index);
        }

        /*资讯-编辑*/
        function article_edit(title, url, id, w, h) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url + '?action=edit&id=' + id
            });
            layer.full(index);
        }

        /*资讯-删除*/
        function article_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '/Admin/Home/RequestArticles',
                    data: { 'action': 'delete', 'id': id },
                    dataType: 'json',
                    success: function (data) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', { icon: 1, time: 2000 });
                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }

        /*资讯-批量删除*/
        function datadel() {
            var ids = "";
            var $checked = $("input[type='checkbox']:checked");
            if ($checked.length <= 0) {
                layer.msg("至少选择一项!");
                return;
            }
            $checked.each(function () {
                ids += $(this).val() + ',';
            });
            ids.length > 0 && (ids = ids.substring(0, ids.length - 1));
            console.log(ids);
            layer.confirm('确认要批量删除吗？', function () {
                $.ajax({
                    type: 'POST',
                    url: '/Admin/Home/RequestArticles',
                    data: { 'action': 'batchdel', 'id': ids },
                    dataType: 'json',
                    success: function () {
                        layer.msg('批量删除成功!', { icon: 1, time: 2000 });
                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }

        /*资讯-批量静态化*/
        function datastatic() {
            $.ajax({
                type: 'Get',
                url: '/Admin/Home/RequestArticles',
                data: { 'action': 'static' },
                dataType: 'json',
                success: function (data) {
                    if (data == "ok") {
                        layer.msg('批量静态化成功!', { icon: 1, time: 2000 });
                    }
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        }

        /*资讯-批量静态化*/
        function createindex() {
            $.ajax({
                type: 'Get',
                url: '/Admin/Home/RequestArticles',
                data: { 'action': 'createindexall' },
                dataType: 'json',
                success: function (data) {
                    if (data == "ok") {
                        layer.msg('页面全部创建索引成功!', { icon: 1, time: 2000 });
                    } else {
                        layer.msg('页面全部创建索引失败!', { icon: 1, time: 2000 });
                    }
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        }

        function addpagedata() {
            $.ajax({
                type: 'POST',
                url: '/Admin/Home/RequestArticles',
                data: { 'action': 'addpagedata' },
                dataType: 'json',
                success: function (data) {
                    if (data != null && data.length > 0) {
                        layer.msg('通过规则添加数据成功!', { icon: 1, time: 2000 });
                    }
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        }
    </script>
}